<br>
<div class="container">
  <section class="panel">

    <h1 class="heading--serif jumbotron__title medium-offset-bottom-2">
      Liste Des Demandes                    </h1>
    <hr>
    <br>
<br>
    <table class="table table-striped table-advance table-hover border">
      <tbody>
      <tr>

        <th></th>
        <th class="center"> <i class="icon_profile"></i> Comptable</th>
        <th class="center"><i class="icon_pin_alt"></i>Duree</th>
        <th class="center"><i class="icon_calendar"></i>Date d'envoi </th>
        <th class="center"><i class="icon_calendar"></i>Date d'acceptation </th>
        <th class="center"><i class="icon_cogs"></i> Status</th>

      </tr>
      <tr >
        <td><i class="fa fa-table"></i></td>
        <td class="center"> <span>Eya</span></td>
        <td class="center"><span>2</span></td>
        <td class="center"><span>15/10/2022 20:45</span></td>
        <td class="center"><span>16/10/2022 20:45</span></td>
        <td class="center"><span style="color:red">Refuser</span></td>

      </tr>
      <tr >
        <td><i class="fa fa-table"></i></td>
        <td class="center"> <span>Eya</span></td>
        <td class="center"><span>2</span></td>
        <td class="center"><span>15/10/2022 20:45</span></td>
        <td class="center"><span>16/10/2022 20:45</span></td>
        <td class="center"><span style="color:green">Accepter</span></td>

      </tr>

<!--
      <tr *ngFor="let comptable of listDemande">
        <td><i class="fa fa-table"></i></td>
        <td><span>{{comptable.username}}</span></td>
        <td><span>{{comptable.email}}</span></td>
        <td><span>{{comptable.adresse}}</span></td>
        <td><span>{{comptable.numero_telephone}}</span></td>
        <td><span>{{comptable.ecole_sperieur}}</span></td>
        <td>
          <button class="btn btn-warning"  >
            Encour De Traitement
          </button>
          <button class="btn btn-danger" >
            Refuser
          </button>
          <button class="btn btn-success" >
            Accepter
          </button>
        </td>
      </tr>
      !-->
      </tbody>
    </table>
  </section>
</div>
