<br>
<div class="container">
  <section class="panel">

    <h1 class="heading--serif jumbotron__title medium-offset-bottom-2">
      Liste Des Demandes                    </h1>
    <hr>
    <br>
<br>
    <table class="table table-striped table-advance table-hover border">
      <tbody>
      <tr style="background: #d2c7ff">


        <th class="center"> <i class="fa-solid fa-user" style="margin-right: 6px"></i><b>Comptable </b></th>
        <th class="center"><i class="fa-solid fa-calendar" style="margin-right: 6px"></i><b>Duree</b></th>
        <th class="center"><i class="fa-solid fa-clock" style="margin-right: 6px"></i>  <b>Date d'envoi </b></th>
        <th class="center"><i class="fa-solid fa-clock" style="margin-right: 6px"></i> <b>Date d'acceptation</b> </th>
        <th class="center"><i class="fa-brands fa-flickr" style="margin-right: 6px"></i> <b>Status</b></th>
      </tr>




      <tr *ngFor="let demande of listDemande">

        <td class="center"> <span>{{demande.comptable.username}}</span></td>
        <td class="center"><span>{{demande.duree}} ans </span></td>
        <td class="center"><span>{{demande.dateD.substring(0,16).replace("T", " ") }}</span></td>
        <td class="center "*ngIf="demande.dateAC!=null"><span>{{demande.dateAC.substring(0,16).replace("T", " ")}}</span></td>
        <td class="center" *ngIf="demande.dateAC==null"> <span>--</span></td>
        <td class="center" *ngIf="demande.etat==1" style="color:darkgreen"> <span>Accepté</span></td>
        <td class="center" *ngIf="demande.etat==0" style="color:darkred"> <span>Refusée</span></td>
        <td class="center" *ngIf="demande.etat==-1" style="color:darkgoldenrod"> <span>en Attend</span></td>

      </tr>


<!--
      <tr *ngFor="let comptable of listDemande">
        <td><i class="fa fa-table"></i></td>
        <td><span>{{comptable.username}}</span></td>
        <td><span>{{comptable.email}}</span></td>
        <td><span>{{comptable.adresse}}</span></td>
        <td><span>{{comptable.numero_telephone}}</span></td>
        <td><span>{{comptable.ecole_sperieur}}</span></td>
        <td>
          <button class="btn btn-warning"  >
            Encour De Traitement
          </button>
          <button class="btn btn-danger" >
            Refuser
          </button>
          <button class="btn btn-success" >
            Accepter
          </button>
        </td>
      </tr>
      !-->
      </tbody>
    </table>
  </section>
</div>
