<h2>hello!!!!!!!!!!!!!!!!!!!!</h2>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/lcomptable"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br> la liste des comptables
        </a>
      </div>
      <div class="col-sm">
        Button 2
      </div>
      <div class="col-sm">
        Button 3
      </div>
      <div class="col-sm">
        Button 4
      </div>
    </div>
  </div>