
<div class="container">
  <div class="row">
    <div class="col-sm">
      <button routerLink="listDemande"

              class="btn fourth">

        la liste des Demande
      </button>
    </div>
    <div class="col-sm">
      <button routerLink="listFiles"

              class="btn fourth">

        La Liste des Fichiers
      </button>
    </div>
    <div class="col-sm">
    <button routerLink="espaceMessagerie"

            class="btn fourth">

      Espace de messagerie
    </button>
  </div>

    <div class="col-sm">
      <button routerLink="listComptable"

              class="btn fourth">

        Upload DeclarationS
      </button>
    </div>

  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>



