.CustomSlider
{
  height:300px;
}
.CustomSliderImages
{
  height:300px;
}
.clientSection
{
  background-color: #212529 !important;
}
.comptableSection
{
 background-color:  #575153 !important;
}
.shrink:hover
{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
